@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("/bg-pink-web.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  left: 38%;
}
.container {
  width: 435px;
  height: 550px;
  background-color: #faf7f3;
  z-index: 0;
  top: 20%;
  border: 3.5px dashed #ffa9ca;
  border-radius: 16px;
}
.gif {
  width: 400px;
  margin-left: 18px;
  margin-top: 30px;
}

.caption {
  font-family: "Bungee", cursive;
  font-size: 22px;
  color: #ff6f91;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #ffb3c1;
}
h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: #ff6f91;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px #ffb3c1;
  font-size: 20px;
}

.yes-btn,
.no-btn {
  border: none;
  padding: 13px 14px;
  border-radius: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  color: white;
}
.yes-btn {
  margin-left: 63px;
  background-color: #a7d477;
  cursor: pointer;
}
.no-btn {
  margin-left: 240px;
  background-color: #fd3160;
  cursor: pointer;
}
.gifs {
  width: 120px;
  margin-left: 165px;
}
button {
  position: absolute;
  outline: none;
}
.button {
  margin-top: 20px;
}
a {
  text-decoration: none;
}
